<div class="container">
</div>
<div class="container">
    <div class="row justify-content-center p-4">
        
        <div class="col-md-6">
            <form (ngSubmit)="login()">
            <h3>Parent Login</h3>
            <div class="form-group p-2">
            <input type="email" name="email" class="form-control" [(ngModel)]="email" placeholder="Enter email Id" required>
        </div>
        <div class="form-group p-2">
            <input type="password" name="password" class="form-control" [(ngModel)]="password" placeholder="Enter Password" required>
        </div>
        <div class="form-group p-2">
            <button type="submit" class="btn btn-primary">Login</button>
            <div class="register"><a href="#" routerLink="/register">New User Register</a></div>
            <div class="search"><a href="#" routerLink="/search">Find Your School</a></div>
        </div>
        </form>
        <div class="form-group">
            <p *ngIf="errorMessage.length > 0" class="text-danger">
                {{errorMessage}}</p>
        
            <p *ngIf="error.message.length > 0" class="text-danger">
                {{error.message}} </p>
        
           
        </div>
        </div>
        <div class="col-md-6 box">
            <a href="https://www.abcmouse.com/abt/homepage?8a08850bc2=T1668796841.1593648646.5184"><img id="abcmouselogo" src="../../../assets/images/ABCmouse.com-logo.png" alt="abcmouselogo" style="width:190px;height:50px;"></a>
            <a href="https://kids.nationalgeographic.com/"><img id="natgeokidslogo" src="../../../assets/images/natgeokidslogo.jpg" alt="natgeokidslogo" style="width:190px;height:50px;"></a>
            
        </div>
        
    </div>
</div>